:root {
  --main-background-color: #ffffff;
  --sub-background-color: rgba(242, 242, 242, 1);
  --text-color: #000000;
  --div-padding: 10px;
  --div-margin: 10px;
  --head-font-size: 42px;
  --head-font-weight: 500;
  --head-line-height: 52px;
  --head-color: rgba(25, 25, 25, 1);
  --title-font-size: 20px;
  --title-font-weight: 700;
  --title-line-height: 24px;
  --title-color: rgba(41, 41, 41, 1);
  --tag-font-size: 14px;
  --tag-font-weight: 400;
  --tag-line-height: 20px;
  --tag-color: rgba(117, 117, 117, 1);
  --context-font-size: 16px;
  --context-font-weight: 400;
  --context-line-height: 24px;
  --context-color: rgba(41, 41, 41, 1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color, #ffffff);
}

.head-text {
  font-size: var(--head-font-size);
  font-weight: var(--head-font-weight);
  line-height: var(--head-line-height);
  color: var(--head-color);
}

.title-text {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  line-height: var(--title-line-height);
  color: var(--title-color);
}

.context-text {
  font-size: var(--context-font-size);
  font-weight: var(--context-font-weight);
  line-height: var(--context-line-height);
  color: var(--context-color);
}

.tag-text {
  font-size: var(--tag-font-size);
  font-weight: var(--tag-font-weight);
  line-height: var(--tag-line-height);
  color: var(--tag-color);
}

.tag-button {
  padding: 2px 8px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400px;
  color: rgba(41, 41, 41, 1);
  border: 1px solid rgba(242, 242, 242, 1);
  border-radius: 100px;
}
